.modal-footer {
    justify-content: normal;
    display: block;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.media-right,
.media > .pull-right {
    padding-left: 10px;
}

.media-left,
.media > .pull-left {
    padding-right: 10px;
}

.product-overlay button {
    display: block;
    float: left;
    width: 50%;
    font-size: 13px;
    color: #333;
    background-color: #F5F5F5;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.product-overlay button.add-to-cart{
    border-left: 0;
}

.product-overlay button.item-quick-view{
    border-right: 0;
}

.product-overlay button:hover {
    background-color: #333;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.not-login {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.checkout-btn {
    display: block;
    background-color: #5a9d17;
    color: #fff;
    padding: 8px 10px;
    text-align: center;
    border-radius: 2px;
}

